.list-table {
  border-radius: 3;
  margin-top: 0;
  margin-bottom: 0;
}

.App {
  text-align: center;
}

.task-title {
  align-content: center;
  max-width: 110px;
}
.task-content {
  align-self: center;
  width: 110px;
  text-align: center;
  border-radius: 3;
}

.task-img {
  max-width: 60px;
  align-self: center;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
