.list-table {
  border-radius: 3;
  margin-top: 0;
  margin-bottom: 0;
}

.App {
  text-align: center;
}

.task-title {
  align-content: center;
  max-width: 110px;
}
.task-content {
  align-self: center;
  width: 110px;
  text-align: center;
  border-radius: 3;
}

.task-img {
  max-width: 60px;
  align-self: center;
}
